@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
    --border-color: #efefef;
    --cool-gray: #4E4F50;
    --light-gray: #6E6E6E;
    --white: #fff;
    --my-font: 'Noto Serif', serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0%;
    padding: 0%;
    padding-top: 20px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.spinner {
    border: 10px solid #efefef;
    border-top: 10px solid var(--cool-gray);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#navbar {
    background-color: var(--cool-gray);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px var(--cool-gray);
    z-index: 11;
}

#navbar .menu-buttons-container {
    /*this is default css for navbar links: displayed in big screens - not displayed in small screens*/
    display: flex;
    background-color: var(--cool-gray);
    color: var(--white);
}

#navbar .menu-buttons-container-shown {
    /*this is css of navbar links in small screens when user click on burger bar icon to display the menu then if user increase screen width
    it will stay displayed*/
    display: flex;
    background-color: var(--cool-gray);
    color: var(--white);
}

#navbar .menu-buttons-container-hidden {
    /*this is css for navbar links: not displayed in small screens (when user click second time on burger bar icon to hide menu) - but displayed on large screens if user increase width of screen*/
    display: flex;
    background-color: var(--cool-gray);
    color: var(--white);
}

#navbar .aclass {
    color: var(--white);
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    transition-duration: 0.5s;
}
#navbar .aclass:hover {
    transition-duration: 0.5s;
    background-color: var(--white);
    color: var(--cool-gray);
}

#navbar .aclass:active {
    background-color: var(--white);
    color: var(--cool-gray);
}
#navbar i {
    display: none;
}

@media screen and (max-width: 800px) {
    #navbar .aclass {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    #navbar .aclass {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    #navbar .menu-buttons-container {
        display: none;
    }
    #navbar .menu-buttons-container-shown {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        background-color: var(--cool-gray);
        color: var(--white);
        position: absolute;
        width: 100%;
        transition-duration: 1.5s;
        top: 0%;
        z-index: 10;
    }
    #navbar .menu-buttons-container-hidden {
        display: none;
        top: -1000%;
    }
    #navbar i {
        display: block;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        font-size: 18px;
        margin: 12px;
        z-index: 10;
        border: 2px solid var(--white);
        border-radius: 2px;
        padding: 3px;
    }
}

#welcome-screen {
    z-index: 100;
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1%;
    border: 1px solid var(--border-color);
    box-shadow: 0px 5px 10px var(--cool-gray);
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-msg ul {
    text-align: left;
}

#welcome-msg ul li {
    margin-bottom: 1.5%;
}

#welcome-msg p {
    font-size: 22px;
}

@media screen and (max-width: 700px) {
    #welcome-screen {
        width: 90%;
        font-size: 16px;
        line-height: 25px;
        word-spacing: 2px;
    }
    #welcome-msg ul {
        padding-left: 20px;
    }
    #welcome-msg p {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    #welcome-screen {
        width: 96%;
        height: 350px;
        font-size: 14px;
        line-height: 23px;
    }
    #welcome-msg p {
        font-size: 16px;
    }
}

.main-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
    .main-content {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    .main-content {
        width: 96%;
    }
}

.article-container {
    display: block;
}

.article-title {
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}

.article-summary {
    font-size: 16px;
    line-height: 22px;
    word-spacing: 2px;
    text-align: justify;
}

.article-author-container .fa {
    padding-right: 5px;
}

.author-name {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--light-gray);
    cursor: pointer;
}

.author-name .fa {
    font-size: 12px;
    margin-right: 3px;
}

.author-country {
    font-size: 13px;
    margin-top: 5px;
    color: var(--light-gray);
}

.author-country .fa {
    font-size: 12px;
    margin-right: 3px;
}

@media screen and (max-width: 700px) {
    .article-title {
        font-size: 22px;
    }
    .article-summary {
        font-size: 14px;
        line-height: 21px;
        word-spacing: 2px;
    }
    .author-name {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .author-name .fa {
        font-size: 11px;
        margin-right: 3px;
    }
    .author-country {
        font-size: 12px;
        margin-top: 5px;
    }
    .author-country .fa {
        font-size: 11px;
        margin-right: 3px;
    }
}

@media screen and (max-width: 350px) {
    .article-title {
        font-size: 20px;
    }
    .article-summary {
        font-size: 12px;
        line-height: 18px;
        word-spacing: 2px;
    }
    .author-name {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .author-name .fa {
        font-size: 9px;
        margin-right: 3px;
    }
    .author-country {
        font-size: 10px;
        margin-top: 5px;
    }
    .author-country .fa {
        font-size: 9px;
        margin-right: 3px;
    }
}

hr {
    border: none;
    border-top: 1px solid #cacaca;
    margin-top: 5%;
    margin-bottom: 5%;
}

#authors-area {
    width: 70%;
    margin: 50px auto;
    background-color: var(--cool-gray);
    color: #fff;
    height:300px;
    text-align:center;
    display:none;
}

#admin-area {
    width: 70%;
    margin: 50px auto;
    background-color: var(--cool-gray);
    color: #fff;
    height:300px;
    text-align:center;
    display:none;
}

#about-area {
    width: 70%;
    margin: 50px auto;
    background-color: var(--cool-gray);
    color: #fff;
    height:300px;
    text-align:center;
    display:none;
}